<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.user.mapper.ManagementMenuMapper">

    <resultMap id="treeMap" type="com.xuecheng.user.model.dto.ManagementDto">

        <id column="m1_id" property="id"/>
        <result column="m1_name" property="name"/>
        <result column="m1_parentId" property="parentId"/>
        <result column="m1_grade" property="grade"/>
        <result column="m1_createDate" property="createDate"/>
        <result column="m1_updateDate" property="updateDate"/>
        <result column="m1_status" property="status"/>
        <result column="m1_path" property="path"/>
        <result column="m1_description" property="description"/>
        <result column="m1_icon" property="icon"/>
        <collection property="managementList" ofType="com.xuecheng.user.model.po.Management">
            <id column="m2_id" property="id"/>
            <result column="m2_name" property="name"/>
            <result column="m2_parentId" property="parentId"/>
            <result column="m2_grade" property="grade"/>
            <result column="m2_createDate" property="createDate"/>
            <result column="m2_updateDate" property="updateDate"/>
            <result column="m2_status" property="status"/>
            <result column="m2_path" property="path"/>
            <result column="m2_description" property="description"/>
            <result column="m2_icon" property="icon"/>
        </collection>
    </resultMap>

    <select id="queryMenuList" parameterType="long" resultMap="treeMap">
        select
            m1.id m1_id,
            m1.name m1_name,
            m1.parent_id m1_parentId,
            m1.grade m1_grade,
            m1.create_date m1_createDate,
            m1.update_date m1_updateDate,
            m1.status m1_status,
            m1.path m1_path,
            m1.description m1_description,
            m1.icon m1_icon,
            m2.id m2_id,
            m2.name m2_name,
            m2.parent_id m2_parentId,
            m2.grade m2_grade,
            m2.create_date m2_createDate,
            m2.update_date m2_updateDate,
            m2.status m2_status,
            m2.path m2_path,
            m2.description m2_description,
            m2.icon m2_icon
        from management m1
                 left join management m2 on m2.parent_id = m1.id
        where m1.parent_id = 0 and (m1.id and m2.id
                in (select xrm.management_id from xc_role xr
                    join xc_role_management xrm on xr.id = xrm.role_id where xr.id
                in (select xur.role_id from xc_user xu join xc_user_role xur on xu.id = xur.user_id where xu.id=#{id})))
        order by m1.id, m2.id
    </select>

    <select id="queryRouterList" parameterType="long" resultType="com.xuecheng.user.model.dto.RouterDto">
        select * from router where id
            in (select xmr.router_id from xc_management_router xmr join management ma on xmr.management_id = ma.id where ma.id
            in (select xrm.management_id from xc_role xr join xc_role_management xrm on xr.id = xrm.role_id where xr.id
            in (select xur.role_id from xc_user xu join xc_user_role xur on xu.id = xur.user_id where xu.id=#{id}))) order by id
    </select>
</mapper>
